.logout {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.logout:hover {
    text-decoration: none;
    color: dark;
}

.item_add {
    float: right;
    text-align: right;
    cursor: pointer;
    padding: 6px 17px;
    border-radius: 10px;
    background-color: #4e73df;
    color: #fff;
    font-size: 20px;
}

@media only screen and (max-width:900px) {
    .item_add {
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
    }
}
.menu{
    border-top:0 !important;
    border-bottom:2px dashed #aaa !important;
}
.menu a{

        text-decoration:none;
        font-size:13px;
        border:0;

}
.menu a:hover{

        color:#fd7e14;
        text-decoration:none;

}