@font-face {
    font-family: ubuntu;
    src: url('Ubuntu-R.ttf');
}

body {
    background: rgb(204, 204, 204);
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    position: relative;
}

page[size="A4"] {
    width: 21cm;
    height: 27cm;
    padding: 0;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    @page {
        margin: 0;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .sil {
        visibility: hidden;
    }
}

.clean {
    clear: both;
}

.img {
    width: 145px;
    height: 60px;
    margin: 30px;
}

.card {
    width: 320px;
    height: 175px;
    margin-left: 42px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

.musteri_adi {
    font-size: 25px;
    margin-left: 42px;
    font-family: Arial, Helvetica, sans-serif;
}

.card .musteri_date {
    font-size: 17px;
    margin-top: 26px;
}

.card .numarasi {
    font-size: 17px;
    margin-top: 32px;
}

.card_2 {
    margin-top: 40px;
    width: 320px;
    height: 175px;
    margin-left: 75px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

.siparis_listesi {
    margin-top: 100px;
    font-family: ubuntu;
    padding: 15px;
}

table {
    width: 100%;
}

table thead th {
    padding-bottom: 17px;
}

table tbody tr td {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}

.footer {
    bottom: 0;
    width: 21cm;
    height: 60px;
    bottom: 0;
    position: absolute;
    text-align: center;
}

.footer .container {
    margin: 0 auto;
    float: left;
}

.footer ul li {
    float: right;
    list-style: none;
    color: black;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    margin-left: 95px;
    font-weight: bold;
}

.page {
    width: 210mm;
    min-height: 297mm;
}

.sil {
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #aaa;
    box-shadow: 5px 5px 3px #eee;
    border-radius: 0.5rem;
    background-color: #aaa;
    transition: 3s all;
    content: normal;
}